{% extends "layouts/default" %}
{% block content %}
<div class="mv-content">
    <h1 class="mv-brand">MVC JS</h1>
    <h2 class="mv-brand">Fast, opinionated lightweight mvc framework for Node.js</h2>
    <div class="mv-command">$ npm install mvcjs</div>
</div>
{% parent %}
{% endblock %}