{% extends "layouts/default" %}
{% block content %}
    <div class="mv-content">
        <h1 class="mv-brand">MODULES WORKS!!</h1>
        <p class="mv-p">More info and docs will be provided</p>
        <p class="mv-p">A module is a self-contained software unit that consists of models,
            views, controllers and other supporting components.
            In many aspects, a module resembles to an application.
        </p>
        <p>
            <img src="/assets/image/module.png" />
        </p>
    </div>
    {% parent %}
{% endblock %}